<!DOCTYPE html>
<html>
    <head>
        <style>

        </style>
    </head>

    <body>
        <h1>Voting</h1>
        <ul>
            {% for username in usernames %}
                <li>{{ username }} <button data-username="{{ username }}" class="user-buttons">Vote</button> </li>
        
            {% endfor %}
        </ul>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
        <script type="text/javascript">
            var socket = io.connect(window.location.origin)
            let usernameButtons = document.querySelectorAll('.user-buttons');
            usernameButtons.forEach((button) => {
                button.addEventListener('click', () => {
                    console.log('Buton clicked');
                    let username = button.dataset.username;
                    socket.emit('send_username', {usr: username});
                });
            });
            

            socket.on('redirect', (data) => {
                window.location.href = data.url;
            });
        </script>
    </body>
</html>